<h1>Disclaimer</h1>

<p>This service is run on a best endeavours basis, and whilst everyone involved is keen to keep it working, it's still being developed so might not always work properly.  We promise not to mislead you, but please bear in mind that the railway in the UK is really complicated, and there are some cases where the information we show you might not be entirely accurate:</p>

<ul>
 <li>We're told that some trains are due to run, but we might not get any data about their movements until later on in the day.  Where we know about this, we will try to show you.</li>
 <li>Sometimes a train will be cancelled, especially in times of widespread disruption, but our system won't know about it until later.  We can only work with the information we've been given.</li>
 <li>In some cases, a train may be delayed but we don't know about it - particularly in rural areas with an infrequent train service.  It's a problem which affects more than just us - so it's best to check with the train operator in this case.</li>
</ul>

<p>You mustn't rely on the information shown for anything safety-related, nor should you base any critical decisions on the data without checking other sources.</p>

<p>All the information we have is processed automatically by Network Rail's systems.  If a train is cancelled but Network Rail's systems don't know about it, we won't know about it either.  Similarly, trains may seem to disappear from our system because we've lost track of them.</p>

