<h1>Welcome</h1>

<p>Congratulations on getting this far.  You will need some CIF timetable data - unfortunately, we're not sure if we're allowed to redistribute this yet.  Check on the <a href="http://www.openraildata.com/">Open Rail Data</a> site for updates.</p>

<p>Once you have timetable data, place it in your Rails <tt>data/</tt> subdirectory, and type the following:</p>

<div class="monospace">
 <p>RAILS_ENV=<%= ::Rails.env %> rails console<br />
 <p>TSDBExplorer::CIF::process_cif_file('data/&lt;filename&gt;')</p>
</div>

<p>When the import is complete - and this can take a very long time for some data - come back to this site and you'll be at the main menu, and you can search within the data you've imported.</p>
