<div class="row">
 <div class="span16">
  <div class="well">
   <h1>Welcome to Open Train Times!</h1>
   <p>To use this site, you will need the latest timetable and station names data files.  These are available from <a href="http://data.atoc.org/data-download">data.atoc.org</a>.</p>
   <p>Once you've downloaded the file, uncompress it and copy the files to <code><%= ::Rails.root %>/import</code>.</p>
   <br />
   <p><%= link_to "Next step >", "", { :class => "btn info" } %></p>
  </div>
 </div>
</div>

