<h1>Welcome</h1>

<p>Congratulations on getting this far.  You will need some CIF timetable data, which is available from <a href="http://data.atoc.org/">data.atoc.org</a>.</p>

<p>Once you have timetable data, place it in your Rails <tt>data/</tt> subdirectory, and type the following:</p>

<pre>
 RAILS_ENV=<%= ::Rails.env %> rails console
 TSDBExplorer::CIF::process_cif_file('data/&lt;filename&gt;')
</pre>

<p>When the import is complete - and this can take a very long time for some data - come back to this site and you'll be at the main menu, and you can search within the data you've imported.</p>
