<div class="page-header">
 <h1>Advanced search</h1>
</div>

<div class="row">

 <%= render :partial => 'common/pills' %>

 <div class="span9">
  <p>Sometimes, you want to search by something other than a location.  Maybe you want to look up the schedule for a train identity.  If so you've come to the right place!</p>
  <ul>
   <li><strong>Location</strong> will allow searching based on locations.  Perfect if you want to search for trains to, or from, a location.</li>
   <li><strong>Identity</strong> searches by a train identity (also called a headcode), or by schedule UID.</li>
  </ul>
 </div>

</div>
