<div class="page-header">
 <h1>Administration</h1>
</div>

<div class="row">
 <%= render :partial => 'common/pills' %>
 <div class="span10">
  <h2>Timetable</h2>
  <table class="table table-condensed">
   <thead>
    <tr>
     <th>Metric</th>
     <th class="span2">Count</th>
    </tr>
   </thead>
   <tbody>
    <tr><td>CIF files imported</td><td><%= @stats[:cifs_imported] %></td></tr>
    <tr><td>TIPLOCs known</td><td><%= @stats[:tiplocs] %></td></tr>
    <tr><td>Schedules</td><td><%= @stats[:basic_schedules] %></td></tr>
   </tbody>
  </table>
 </div>
</div>
