/*
 *  This file is part of TSDBExplorer.
 *
 *  TSDBExplorer is free software: you can redistribute it and/or modify it
 *  under the terms of the GNU General Public License as published by the
 *  Free Software Foundation, either version 3 of the License, or (at your
 *  option) any later version.
 *
 *  TSDBExplorer is distributed in the hope that it will be useful, but
 *  WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 *  General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License along
 *  with TSDBExplorer.  If not, see <http://www.gnu.org/licenses/>.
 *
 *  $Id: tsdbexplorer.css 108 2011-04-19 20:25:19Z pwh $
 *
 */

body,html {
  margin: 0;
  padding: 0;
  color: #333;
  background: #eee;
  font-family: sans-serif;
  font-size: 12px;
}

#page {
  width: 1024px;
  max-width: 95%;
  background: #fff;
  margin: 1em auto;
  border: solid #333 1px;
  border-radius: 5px;
}

#header {
  font-size: 3em;
  padding: 8px;
  background: #005b9a;
  border-bottom: 1px dotted #333;
  color: white;
  text-shadow: #444 1px 1px 1px;
}

#header div {
  width: 1024px;
  margin: auto;
}

#body {
  padding: 16px;
  min-height: 256px;
}

#footer {
  color: #333;
  clear: both;
  padding: 10px;
  border-top: 1px solid black;
}

h1 {
  font-size: 28px;
  color: #000;
}

a {
  color: #03c;
}

a:hover {
  text-decoration: underline;
}

h1 {
  margin: 0;
  font-size: 2em;
}

#footer a {
  color: #008;
}

#disclaimer {
  position: absolute;
  right: 1em;
  top: 1em;
  width: auto;
  border: 3px solid red;
  padding: 0 1em 0 1em;
  color: #fff;
  background: #a00;
  font-weight: bold;
}

#key {
  font-size: 0.9em;
  background: #eee;
  padding: 0.5em;
  border: 1px solid #ddd;
}

#service_detail {
  padding-bottom: 8px;
}

#service_detail #headline {
  font-size: 2em;
}

#service_detail #operator {
  font-size: 1.25em;
  font-weight: bold;
}

#service_detail #alert {
  font-size: 1.25em;
  font-weight: bold;
  margin-top: 0.5em;
  padding: 0.5em;
  background-color: #d00;
  color: #fff;
}

#service_detail #attributes ul {
  list-style-type: none;
  padding-left: 1em;
  vertical-align: top;
  font-size: 16px;
}

#options {
  background: #eee;
  padding: 4px;
  margin-bottom: 4px;
  font-size: 16px;
}

#options img {
  vertical-align: top;
}

div.search {
  padding-bottom: 1em;
}

div.search legend {
  font-size: 115%;
}

div.search fieldset {
  border: 1px solid black;
  background: #eee;
}

_form {
  border: 1px solid #333;
  background: #eee;
  margin-left: auto;
  margin-right: auto;
  color: #333;
  margin-bottom: 1em;
}

_form p {
  padding: 0 1em 0 1em;
}

table {
  width: 100%;
  border: 1px solid #333;
  border-collapse: collapse;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

table th {
  font-size: 1.2em;
  background: #74c2e1;
  color: #334;
  text-align: left;
  border-bottom: solid black 1px;
  padding: 5px;
}

table tr.odd {
  background: #eee;
}

table td {
  padding: 5px;
}

div.monospace {
  background: black;
  color: white;
  font-family: monospace;
  padding: 0.5em 1em 0.5em 1em;
}

.early {
  font-weight: bold;
  color: blue;
}

.ontime {
  font-weight: bold;
  color: green;
}

.late {
  font-weight: bold;
  color: red;
}

/* Twisty styles */

.twistyOpen, .twistyClosed {
  border-left:1px solid white;
  border-top:1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid #aaa;
  cursor:pointer;cursor:hand;
  font-weight:bold;
  padding: 4px 4px 4px 20px;
  margin-top:1px;
  margin-bottom: 0px;
}

.twistyOpen {
  background:url('../images/twisty/open.gif') no-repeat center left;
  background-color: #eee;
}

.twistyClosed {
  background:url('../images/twisty/closed.gif') no-repeat center left;
  background-color: #eee;
}

.twisty .content {
  padding: 1px 24px 1px 24px;
}
