<%= content_for :script do %>
<script type="text/javascript">
 $(function () {
   $("a[rel=tooltip]").tooltip({
     placement: 'bottom'
   })
 })
</script>
<% end %>

<table class="table" id="schedule">
 <% if advanced_mode? %>
  <%= render :partial => 'schedule/advanced_mode' %>
 <% else %>
  <%= render :partial => 'schedule/normal_mode' %>
 <% end %>
</table>
