<div class="row well">
 <div class="span12">
  <%= link_to raw('<i class="icon-list icon-white"></i>') + ' Show ' + schedule.data_source + ' schedule', { :controller => 'schedule', :action => 'schedule_by_uid', :uid => params[:uid] }, { :class => 'btn btn-info' } %>
 </div>
</div>
