<div id="technical_detail">
 <ul>
  <% unless runs_on == false %><li>Runs <%= run_details(schedule) %></li><% end %>
  <li>Schedule originated from <%= schedule.data_source %></li>
  <li><%= decode_train_category(schedule.category) %> service</li>
  <% unless schedule.operating_characteristics.nil? %><li><%= decode_operating_characteristics(schedule.operating_characteristics) %></li><% end %>
 </ul>
</div>
