<thead>
 <tr>
<% if advanced_mode? %>
  <th>Info</th>
  <th><span class="hidden-desktop">Arr</span><span class="visible-desktop">Arrives</span></th>
  <th>From</th>
  <th><span class="hidden-desktop">Pfm</span><span class="visible-desktop">Platform</span></th>
  <th>To</th>
  <th><span class="hidden-desktop">Dep</span><span class="visible-desktop">Departs</span></th>
  <th>TOC</th>
<% else %>
  <th>Info</th>
  <th><span class="hidden-desktop">Arr</span><span class="visible-desktop">Arrives</span></th>
  <th>From</th>
  <th><span class="hidden-desktop">Pfm</span><span class="visible-desktop">Platform</span></th>
  <th>To</th>
  <th><span class="hidden-desktop">Dep</span><span class="visible-desktop">Departs</span></th>
  <th>Operator</th>
<% end %>
 </tr>
</thead>
