<div class="row">
 <div class="span12">
  <ul class="pager">
   <li class="previous"><%= content_tag "a", { :href => url_for({ :from => params[:from], :to => params[:to], :year => (@datetime - 1.hour).year, :month => (@datetime - 1.hour).month, :day => (@datetime - 1.hour).day, :time => (@datetime - 1.hour).to_s(:hhmm) }) } do %>&larr;</i> Earlier<% end %></li>
   <li class="next"><%= content_tag "a", { :href => url_for({ :from => params[:from], :to => params[:to], :year => (@datetime + 1.hour).year, :month => (@datetime + 1.hour).month, :day => (@datetime + 1.hour).day, :time => (@datetime + 1.hour).to_s(:hhmm) }) } do %>Later &rarr;</i><% end %></li>
  </ul>
 </div>
</div>

