<div class="page-header">
 <h1>Select a location</h1>
</div>

<% if @matches.blank? %>

 <p>We couldn't find any location that matched <strong><%= params[:term] %></strong>.</p>

<% else %>

 <p>We couldn't find an exact match for the location <strong><%= params[:term] %></strong>.  Were you looking for one of these locations?</p>

 <ul>
  <% @matches.each do |m| %>
  <li><%= link_to m['label'], :controller => 'location', :location => m['value'] %></li>
  <% end %>
 </ul>

<% end %>
