<h1>Select a location</h1>

<p>Your entered <strong><%= params[:text] %></strong>.  We couldn't find a station with that name.</p>

<% unless @matches.blank? %>

 <p>Did you mean one of these?</p>

 <ul>
  <% @matches.each do |m| %>
  <% next unless !m.crs_code.blank? %>
  <li><%= link_to "#{m.crs_code}: #{tidy_text(m.tps_description)}", :controller => 'location', :location => m.crs_code, :year => params[:year], :month => params[:month], :day => params[:day], :time => params[:time] %></li>
  <% end %>
 </ul>

<% end %>
