<h1>Geographical Data</h1>

<p>In order to make use of these pages, you will require some external static data sets which are not freely redistributable.</p>

<p>If you have this data set, place the data in the Rails <tt>data/static</tt> subdirectory, and type the following:</p>

<div class="monospace">
 <p>RAILS_ENV=<%= ::Rails.env %> rails console<br />
 <p>TSDBExplorer::Geography::import_static_data</p>
</div>

