/* Jumbotrons
-------------------------------------------------- */

.jumbotron {
  min-width: 940px;
  padding-top: 40px;
}

.jumbotron .inner {
  background: #666;
  padding: 45px 0;
  -webkit-box-shadow: inset 0 10px 30px rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 10px 30px rgba(0,0,0,.3);
/* box-shadow: inset 0 10px 30px rgba(0,0,0,.3);
*/
}

.jumbotron h1,
.jumbotron p {
  margin-bottom: 9px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
}

.jumbotron h1 {
  font-size: 54px;
  line-height: 1;
  text-shadow: 0 1px 2px rgba(0,0,0,.5);
}

.jumbotron p {
  line-height: 32px;
  font-weight: 300;
  text-shadow: 0 1px 2px rgba(0,0,0,.5);
}

.jumbotron .lead {
  font-size: 20px;
  line-height: 27px;
}

.jumbotron p a {
  color: #fff;
  font-weight: bold;
}

.jumbotron .example {
  background: #333;
  margin-top: 16px;
  font-size: 20px;
  padding: 20px;
}

.masthead {
  background-color: #049cd9;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#004D9F), to(#049cd9));
  background-image: -webkit-linear-gradient(#004D9F, #049cd9);
  background-image: -moz-linear-gradient(#004D9F, #049cd9);
  background-image: -o-linear-gradient(top, #004D9F, #049cd9);
  background-image: -khtml-gradient(linear, left top, left bottom, from(#004D9F), to(#049cd9));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#004D9F', endColorstr='#049cd9', GradientType=0); /* IE8 and down */
}
