/*
 *  UI-specific overrides for Bootstrap and other things which we might want
 *  to change without affecting the original source
 */

h2,h3,h4 {
  color: #36444e;
}

@media (min-width: 979px) {
  body {
    padding-top: 40px;
  }
}

@media (max-width: 979px) {
  .navbar-fixed-top {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  header {
    margin-left: -20px;
    margin-right: -20px;
  }
}

.footer {
  margin-top: 45px;
  padding: 16px 0 36px;
  border-top: 1px solid #e5e5e5;
}

.footer p {
  margin-bottom: 0;
  color: #555;
}

.navbar-text a {
  color: white;
}

.jumbotron p.example {
  padding-bottom: 25px;
}

span.label a {
  color: #fff;
}

table.stats-table td, table.stats-table th {
  text-align: center;
}

table.stats-table td {
  font-size: 36px;
}

#error_explanation h2 {
  font-size: 14px;
}

li.light-active {
  background: rgba(4, 156, 219, 0.5);
}


/* Enhancements for .page-header */

.page-header .icon { float: left; }
.page-header .headline { padding-top: 10px; padding-bottom: 10px; font-size: 26px; font-weight: bold; }
.page-header .subtitle { font-size: 18px; }


/* Enhancements for tables */

.table-td-centre tr td:first-child {
  text-align: center;
}
