/*
 *  UI-specific overrides for Bootstrap and other things which we might want
 *  to change without affecting the original source
 */

.footer {
  margin-top: 45px;
  padding: 16px 0 36px;
  border-top: 1px solid #e5e5e5;
}

.footer p {
  margin-bottom: 0;
  color: #555;
}

.navbar-text a {
  color: white;
}

.jumbotron p.example {
  padding-bottom: 25px;
}

span.label a {
  color: #fff;
}
