<div class="row">
 <div class="span18">
  <ul class="pills">
   <% @pills.each do |pill| %>
    <% pill_action = pill.downcase.tr('- ', '') %>
    <%= tag 'li', { :class => pill_action == action_name ? 'active' : nil } %><%= link_to pill, :action => pill_action %></a></li>
   <% end %>
  </ul>
 </div>
</div>
