<div class="row">
 <div class="span18">
  <h1>Closed for maintenance</h1>
  <div class="alert-message warning"><%= reason %></div>
 </div>
</div>

<div class="row">
 <div class="span18" style="text-align: center;">
  <%= image_tag "maintenance_mode.jpg", :style => "border: solid black 1px;" %>
  <p>Image courtesy of <a href="http://www.flickr.com/people/56087830@N00">Mark Kobayashi-Hillary</a></p>
 </div>
</div>